:root {
  --primary-color: #b265bd;
  --secondary-color: #43206e;
  --background-primary-color: #2d1e32;
  --background-secondary-color: #211625;
  --list-background-color: #150e17;
  --text-color: white;
  --scrollbar-color: #302235;
  --code-background: #130d15;

  --discord-dnd: hsl(358.16 calc(1*68.776%)53.529% /1);
  --discord-idle: hsl(37.792 calc(1*78.571%)38.431% /1);
  --discord-online: hsl(142.703 calc(1*60.656%)35.882% /1);
}

* {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu;
  color: var(--text-color);
  scrollbar-color: var(--scrollbar-color) var(--background-secondary-color);
}

.hide-nojs {
  display: initial;
}

.nojs .hide-nojs {
  display: none;
}